* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: talantFont;
  src: url(open-sans.woff);
}

body {
  background: url(smart.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: talantFont;
}
h1 {
  font-family: talantFont;
}
.cbutt {
  width: 100%;
  height: 60px;
  font-family: talantFont;
  font-size: large;
  border: 0px;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
}
.on {
  background-color: greenyellow;
}
.off {
  background-color: red;
}
.amber {
  background-color: orange;
}
